apt-xapian-index==0.45
backports.ssl-match-hostname==3.4.0.2
basemap==1.0.7
beautifulsoup4==4.3.2
boto==2.38.0
bz2file==0.98
certifi==2015.4.28
chardet==2.0.1
Cheetah==2.4.4
cloud-init==0.7.5
colorama==0.2.5
configobj==4.7.2
decorator==3.4.0
docutils==0.11
Flask==0.10.1
functools32==3.2.3.post1
futures==3.0.2
gensim==0.11.1.post1
goslate==1.4.0
html5lib==0.999
httplib2==0.9.1
ipython==3.1.0
itsdangerous==0.24
Jinja2==2.7.2
jsonpatch==1.3
jsonpointer==1.0
jsonschema==2.5.1
Landscape-Client==14.12
lda==1.0.2
MarkupSafe==0.18
matplotlib==1.5.dev1
mistune==0.5.1
mock==1.0.1
networkx==1.9.1
nltk==3.0.2
nose==1.3.1
numpy==1.8.2
numpydoc==0.4
oauth==1.0.1
oauth2==1.5.211
oauthlib==0.7.2
PAM==0.4.2
pandas==0.16.1
pbr==0.11.0
Pillow==2.3.0
prettytable==0.7.2
ptyprocess==0.5
pudb==2015.3
pycurl==7.19.3
Pygments==1.6
pygobject==3.12.0
pylab==0.1.3
pymongo==3.0.2
pyOpenSSL==0.13
pyparsing==2.0.1
pyserial==2.6
python-apt===0.9.3.5ubuntu1
python-dateutil==1.5
python-debian===0.1.21-nmu2ubuntu2
python-socksipy==1.0
pytz==2012rc0
PyYAML==3.10
pyzmq==14.6.0
requests==2.7.0
requests-oauthlib==0.5.0
roman==2.0.0
scikit-image==0.11.3
scikit-learn==0.16.1
scipy==0.13.3
seaborn==0.5.1
six==1.9.0
smart-open==1.2.1
Sphinx==1.2.2
ssh-import-id==3.21
sympy==0.7.6
terminado==0.5
tornado==4.2
tweepy==3.3.0
Twisted-Core==13.2.0
Twisted-Names==13.2.0
Twisted-Web==13.2.0
urllib3==1.7.1
urwid==1.3.0
virtualenv==12.1.1
Werkzeug==0.10.4
wheel==0.24.0
wxPython==2.8.12.1
wxPython-common==2.8.12.1
xlwt==0.7.5
zope.interface==4.0.5
