<!DOCTYPE html>
<meta charset="utf-8">

<head>

<title>Expl0re</title>

<link rel=stylesheet type="text/css" href="../static/css/about.css"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>

</head>


<body>
        <div id="wrapper" style="position: relative; z-index: 99;">
                <div class="social">
                </div>
                
                <div class="titles" id="topbar">
                    <p id="title_link"><a href="/" id="title_link">Expl0re Seattle</a></p>
                    <p id="other"><a href="/about" id="other">About</a></p>
                </div>

        </div>

        <div id="instructions">
            <br>
            <br>
            <p id="instructions"><b>Expl0re is a data visualization (using D3 javascript) of Yelp data in the Seattle area. It allows users to explore Seattle and trends in Yelp reviews in the Seattle area. The user can explore relationships between review rating, number of reviews, location and categories of services. 
            <br>
            <br>
            The dropdown menu lists services ordered by number of storefronts. The horizontal slider allows the user to filter the data based on review rating. The color of the circle correlates to the rating, and the size correlates to the number of reviews. Clicking on a circle will take you to the service Yelp page. Hovering above a cirle shows information about the restaurant, including a machine-written summary of all Yelp restaurant reviews (using a spark-based lexrank summarizer).
            <br>
            <br>
            Note: Expl0re works best on Chrome or Safari, the slider and dropdown menu can get a bit funky in Firefox. 
            <br>
            <br>
            If you would like to find out more about how it works, please visit <a href="https://github.com/ataipale/explore_seattle" target="_blank">my github link.</a>

            </b></p>
            

        </div>

</body>
</html>