<!DOCTYPE html>
<meta charset="utf-8">

<head>

<title>Expl0re</title>

<link rel=stylesheet type="text/css" href="../static/css/about.css"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>

</head>


<body>
        <div id="wrapper" style="position: relative; z-index: 99;">
                <div class="social">
                </div>
                
                <div class="titles" id="topbar">
                    <p id="title_link"><a href="/" id="title_link">Expl0re</a></p>
                    <p id="other"><a href="/about" id="other">About</a></p>
                </div>

        </div>

        <div id="instructions">
            <br>
            <br>
            <p id="instructions"><b>Expl0re is a D3 visualization of yelp data in the Seattle area. It shows summaries of all yelp restaurant reviews using a spark-based lexrank summarizer.
            <br>
            <br>
            If you would like to find out more about how it works, please visit <a href="https://github.com/ataipale/explore_seattle" target="_blank">my github link.</a>

            </b></p>
            

        </div>

</body>
</html>