<!DOCTYPE html>
<meta charset="utf-8">

<head>
<link href="/static/css/d3.slider.css" rel="stylesheet">
<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="/static/d3.geo.tile.min.js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js"></script>
<script src="/static/js/d3.slider.js"> </script>
</head>

<style>

body {
  margin: 0;
}

#selecter {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 25%;
  /*font-size: 24px;*/
  padding: 20px 20px;
}


path {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.popover-content, .popover-content .body {
    max-width: 100%;
    max-length: 30%;
}
.popover-content li {
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.major_road { stroke: #776; }
.minor_road { stroke: #ccb; }
.highway { stroke: #f39; stroke-width: 1.5px; }
.rail { stroke: #7de; }

.slider-container {
  position: absolute;
  bottom: 20px;
  /*note: make left percent 100-width / 2 to center*/
  left: 5%;
  width: 90%;
  height: 5%;
  fill: rgb(255, 50, 153);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin: 10px;
}

</style>

<body>

<div class="slider-container"><div id="slider" class="d3-slider"></div></div>

<script>

// $require('bootstrap')

var width = Math.max(960, window.innerWidth),
    height = Math.max(500, window.innerHeight);

var tiler = d3.geo.tile()
    .size([width, height]);

var projection = d3.geo.mercator()
    .center([-122.2520, 47.6302])
    .scale((1 << 21) / 5 / Math.PI)
    .translate([width / 2, height / 2]);

var path = d3.geo.path()
    .projection(projection);

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

var start = new Date().getTime();

svg.selectAll("g")
    .data(tiler
      .scale(projection.scale() * 2 * Math.PI)
      .translate(projection([0, 0])))
  .enter().append("g")
    .each(function(d) {
      var g = d3.select(this);
      d3.json("http://" + ["a", "b", "c"][(d[0] * 31 + d[1]) % 3] + ".tile.openstreetmap.us/vectiles-highroad/" + d[2] + "/" + d[0] + "/" + d[1] + ".json", function(error, json) {
        g.selectAll("path")
            .data(json.features.sort(function(a, b) { return a.properties.sort_key - b.properties.sort_key; }))
          .enter().append("path")
            .attr("class", function(d) { return d.properties.kind; })
            .attr("d", path);
      });
    });

// var end = new Date().getTime();
// var time = end - start;
// console.log('Execution time: ' + time);

console.log("ABOVE");

function cleanCategories(categoryList) {
  var categories = [];
  if (categoryList){
    for (var i = 0; i < categoryList.length; i++) {
      categories.push(categoryList[i][0]);
    }
  }
  return categories;
}

d3.json("/search", function(error, data) {
  if (error) throw error;
  // console.log(data)

  data.forEach(function(d) {
    d.category = cleanCategories(d.categories);
    if (d.location.coordinate){
      d.long = d.location["coordinate"]["longitude"];
      d.lat = d.location["coordinate"]["latitude"];
      d.review_count = d.review_count;
      d.rating = d.rating;
      d.name = d.name;
      // xxx fix summary not matching name?!
      d.summary = d.summary; 
      d.reading = d.reading;
      d.key = d.name + '.' + d.long + '.' + d.lat;
    }
  });

  // process(data);
  dropdown(data);
  slider(data);

});

function slider(data) {

  var alertChange = function(evt, value) {
    console.log(evt);
    console.log(value);
    var min = value[ 0 ];
    var max = value[ 1 ];

    var filteredData = data.filter(function(d){
      return d.reading >= min && d.reading <= max;
    });
    console.log(min);
    console.log(max);
    console.log(filteredData);
    process(filteredData);
  }

  var select = d3.select("#slider").call(d3.slider().axis(true).min(1).max(15).step(3).value( [ 1, 2 ] ).on("slide", alertChange));

}

function dropdown(data) {

  var singleCategories = _.sortBy(_.uniq(_.flatten(_.map(data, "category"))));

  var select = d3.select("body").append("select")
      .attr("id", "selecter")
      .on("change", "mouseover");

  var options = select.selectAll("option")
        .data(singleCategories);

  options.enter()
      .append("option")
      .attr("value", function(d, i) {
          return d;
      })
      .text(function(d, i) {
          return d;
      });

  var alertChange = function() {

    var dropdownSelection = d3.select(this).property('value');
    var filteredData = data.filter(function(d){
      return d.category.indexOf(dropdownSelection) >= 0;
    });
    process(filteredData);
  }

  //add this event listener to the first menu (as a whole):
  d3.select("select").on("change", alertChange);

}

function process(data) {

  // var color = ["#ff7f00","#377eb8","#984ea3","#ffff33","#4daf4a","#ffd92f","#00FF00","#00FFFF","#e41a1c", "#08519c"];
  var color = [ "#000000","#000033",
  "#000066",
  "#000080",
  "#0000CC",
"#1919FF",
"#3333FF",
"#4D4DFF",
"#6666FF",
"#9999FF",
"#CCCCFF",
"#FFFFFF",
];
  // var start = new Date().getTime();
  // var end = new Date().getTime();
  // var time = end - start;
  // console.log('Execution time: ' + time);

  // var start = new Date().getTime();

  var dots = svg.selectAll(".dot")
    .data(data, function(d) { return d.key; });

  dots.exit().attr('bla', function(d, i){
    }).remove();

  dots.enter().append("circle").attr("class", "dot")
    .style("fill", function(d, i){
      var readNum;
      if (d.reading > 12){
        readNum = 12;
      }
      if (d.reading < 1) {
        readNum = 1;
      }
      else {
        readNum = Math.floor(d.reading);
      }
      return color[readNum];
      }).style("opacity", 0.4)
    .attr("r", function(d){
        var log = d3.scale.log();
        var log2 = log.base(2);
        // console.log(log2(d.review_count));
        return (log2(d.review_count) * 5);
    })
    .attr("cx", function(d){
        // console.log(d);
        // console.log(projection([d.long, d.lat]));
        return projection([d.long, d.lat])[0];
    })
    .attr("cy", function(d){
        return projection([d.long, d.lat])[1];

    })
    .attr("data-toggle","popover")
    .attr("title", function (d) {
      return d.name;
    })
    .attr("data-content", function (d) {
      var cat = "Categories: ";
      var rat = "Rating: "
      var sum = "Review Summary: "
      var read =  "Reading Level: "
      return cat.bold() + d.category.join(", ") + "<br>" + rat.bold() + d.rating + "<br>" + read.bold() + d.reading + "<br>" + sum.bold() + d.summary ;
    })
    .on("mouseover", function (d) {
      d3.select(this)
        .style("opacity", 1.0);
    })
    .on("mouseout", function (d) {
      d3.select(this)
        .style("opacity", 0.4);
    });


  // settings for the popover display
  $('[data-toggle="popover"]').popover({trigger: "hover", container: "body", placement: "auto top", title: "TITLE", html: true});

};



</script>
